.footer {
   padding: 60px 0;
   background-color: $third-background-color;
}

.footer__container {
   @media screen and (min-width: 768px) and (max-width: 1199px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
   }

   @media screen and (min-width: 1200px) {
      display: flex;
      justify-content: space-between;
   }
}

.footer__logo {
   display: block;
   margin: 0 auto 20px;

   text-align: center;
   color: #ffffff;

   @media screen and (min-width: 1200px) {
      display: inline-block;
      margin: 0 0 20px 0;
   }
}

.address {
   @media screen and (max-width: 1199px) {
      margin-bottom: 60px;
   }
}

.address__item {
   &:not(:last-child) {
      margin-bottom: 8px;
   }

   @media screen and (min-width: 1200px) {
      &:not(:last-child) {
         margin-bottom: 9px;
      }
   }
}

.address__link {
   display: block;

   font-style: normal;
   font-size: 14px;
   line-height: 1.171;
   letter-spacing: 0.03em;
   color: #ffffff;

   @include transition(color);

   &--grey {
      color: rgba(255, 255, 255, 0.6);
   }

   &:hover,
   &:focus {
      color: $accent-color;
   }

   @media screen and (max-width: 1199px) {
      text-align: center;
   }
}

.social-links {
   @media screen and (max-width: 1199px) {
      margin-bottom: 60px;
   }
   @media screen and (min-width: 1200px) {
      margin-top: 12px;
   }
}

.social-links__text {
   margin-bottom: 20px;

   font-weight: 700;
   font-size: 14px;
   line-height: 1.143;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: #ffffff;

   @media screen and (max-width: 1199px) {
      text-align: center;
   }
}

.social-links__list {
   display: flex;
   justify-content: center;
}

.social-links__item {
   &:not(:last-child) {
      margin-right: 10px;
   }
}

.social-links__link {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 44px;
   height: 44px;
   background-color: rgba(255, 255, 255, 0.1);
   border-radius: 50%;

   @include transition(background-color);

   &:hover,
   &:focus {
      background-color: $accent-color;
   }
}

.social-links__icon {
   fill: #ffffff;
}

.distribution {
   @media screen and (min-width: 1200px) {
      margin-top: 12px;
   }
}

.distribution__wrap {
   @media screen and (min-width: 1200px) {
      display: flex;
      align-items: flex-end;
   }
}

.distribution__label {
   display: flex;
   flex-direction: column;
}

.distribution__text {
   margin-bottom: 20px;

   font-weight: 700;
   font-size: 14px;
   line-height: 1.143;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: #ffffff;

   @media screen and (max-width: 1199px) {
      text-align: center;
   }
}

.distribution__input {
   margin-bottom: 20px;
   padding: 15px 16px;
   background-color: transparent;
   border: 1px solid rgba(255, 255, 255, 0.3);
   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
   border-radius: 4px;

   @include transition(border-color);

   &:hover,
   &:focus {
      border-color: $accent-color;
   }

   @media screen and (min-width: 768px) {
      width: 450px;
   }

   @media screen and (min-width: 1200px) {
      margin: 0 12px 0 0;
      width: 358px;
   }
}

.distribution__input::placeholder {
   font-size: 16px;
   line-height: 1.25;
   letter-spacing: 0.03em;
   color: rgba(255, 255, 255, 0.6);
}

.distribution__btn {
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0 auto;
}

.distribution__icon {
   margin-left: 10px;
   fill: #ffffff;
}
