.hero {
   padding: 118px 0;

   @media screen and (max-width: 767px) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
         url(../images/hero-bg-mobile-min.jpg);
      background-size: 480px 400px;
      background-repeat: no-repeat;
      background-position: center;

      @media (min-device-pixel-ratio: 2),
         (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi),
         (min-resolution: 2dppx) {
         background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/hero-bg-mobile-2x-min.jpg);
      }
   }

   @media screen and (min-width: 768px) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
         url(../images/hero-bg-tablet-min.jpg);
      background-size: 768px 400px;
      background-repeat: no-repeat;
      background-position: center;

      @media (min-device-pixel-ratio: 2),
         (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi),
         (min-resolution: 2dppx) {
         background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/hero-bg-tablet-2x-min.jpg);
      }
   }

   @media screen and (min-width: 1200px) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
         url(../images/hero-bg-desktop-min.jpg);
      background-size: 1600px 600px;
      background-repeat: no-repeat;
      background-position: center;

      @media (min-device-pixel-ratio: 2),
         (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi),
         (min-resolution: 2dppx) {
         background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/hero-bg-desktop-2x-min.jpg);
      }
      padding: 200px 0;
   }
}

.hero__title {
   display: block;
   max-width: 360px;
   margin: 0 auto 30px;

   font-weight: 900;
   font-size: 26px;
   line-height: 1.62;
   text-align: center;
   letter-spacing: 0.06em;
   text-transform: uppercase;

   color: #ffffff;

   @media screen and (min-width: 1200px) {
      max-width: 696px;

      font-size: 44px;
      line-height: 1.36;
   }
}

.hero__btn {
   display: block;
   margin: 0 auto;
}
