.hero {
   padding: 118px 0;
   background-color: #212121;
}

.hero__title {
   display: block;
   max-width: 360px;
   margin: 0 auto 30px;

   font-weight: 900;
   font-size: 26px;
   line-height: 1.62;
   text-align: center;
   letter-spacing: 0.06em;
   text-transform: uppercase;

   color: #ffffff;
}

.hero__btn {
   display: block;
   margin: 0 auto;
}
