.backdrop {
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.2);

   position: fixed;
   top: 0;
   left: 0;

   opacity: 1;

   transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

   &.is-hidden {
      opacity: 0;
      pointer-events: none;
   }
}

.modal {
   width: calc(100% - 30px);
   padding: 40px;

   background-color: #ffffff;
   border-radius: 4px;
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);

   position: absolute;
   top: 50%;
   left: 50%;

   transform: translate(-50%, -50%) scale(1) perspective(600px) rotateY(0deg);
   transition: transform 205ms cubic-bezier(0.4, 0, 0.2, 1);

   .backdrop.is-hidden & {
      transform: translate(-50%, -50%) scale(0.01) perspective(600px) rotateY(90deg);
   }
}

.modal__close {
   width: 30px;
   height: 30px;
   background: #ffffff;
   border: 1px solid rgba(0, 0, 0, 0.1);
   border-radius: 50%;

   position: absolute;
   top: 8px;
   right: 8px;

   cursor: pointer;
}

.modal__icon {
   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

   .modal__close:hover &,
   .modal__close:focus & {
      fill: $accent-color;
   }
}

.modal__text {
   font-weight: 700;
   font-size: 20px;
   line-height: 1.5;
   text-align: center;
   letter-spacing: 0.03em;
   color: $second-text-color;

   margin-bottom: 12px;
}

.modal__form {
   display: flex;
   flex-direction: column;
}

.modal__label {
   font-size: 12px;
   line-height: 1.167;
   letter-spacing: 0.01em;
   color: $primary-text-color;

   display: flex;
   flex-direction: column;
   margin-bottom: 10px;

   position: relative;
}

.modal__label-text {
   margin-bottom: 4px;
}

.modal__input {
   display: block;
   height: 40px;
   padding-left: 42px;
   border: 1px solid rgba(33, 33, 33, 0.2);
   border-radius: 4px;

   transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

   &:focus {
      border-color: $accent-color;
   }
}

.modal__input-icon {
   position: absolute;
   bottom: 11px;
   left: 12px;

   fill: $second-text-color;

   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

   .modal__input:focus + & {
      fill: $accent-color;
   }
}

.modal__textarea {
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.01em;
   color: rgba(117, 117, 117, 0.5);

   max-width: 100%;
   height: 120px;
   margin-bottom: 20px;
   padding: 12px 16px;
   border: 1px solid rgba(33, 33, 33, 0.2);
   border-radius: 4px;

   transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

   resize: none;

   &:focus {
      border-color: $accent-color;
   }
}

.modal__check-label {
   font-size: 12px;
   line-height: 1.167;
   letter-spacing: 0.03em;
   text-align: center;
   color: $second-text-color;

   display: flex;
   align-items: center;
   margin-right: auto;
   margin-left: auto;
   margin-bottom: 30px;
}

.modal__custom-checkbox {
   display: block;
   flex-shrink: 0;
   width: 16px;
   height: 15px;
   margin-right: 8px;
   border: 2px solid #212121;
   border-radius: 2px;

   position: relative;
}

.modal__custom-check-icon {
   position: absolute;
   z-index: 2;

   opacity: 0;

   transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

   .modal__checkbox:checked + & {
      opacity: 1;
   }
}

.modal__link {
   font-size: 12px;
   line-height: 1.167;
   letter-spacing: 0.03em;
   text-decoration-line: underline;
   text-align: center;
   color: $accent-color;

   margin-left: 5px;
}

.modal__checkbox {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   clip: rect(0 0 0 0);
   overflow: hidden;
}

.modal__btn {
   margin-left: auto;
   margin-right: auto;
}
