.our-team {
   padding: 60px 0;
   background-color: $second-background-color;
}

.our-team__title {
   margin-bottom: 30px;

   font-size: 28px;
   line-height: 1.179;
   text-align: center;
   letter-spacing: 0.03em;
   color: $second-text-color;
}

.card {
   padding-bottom: 24px;
   background: #ffffff;
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
   border-radius: 0px 0px 4px 4px;

   &:not(:last-child) {
      margin-bottom: 30px;
   }
}

.card__img {
   display: block;
   max-width: 100%;
   height: auto;
   margin-bottom: 30px;
}

.card__name {
   margin-bottom: 10px;

   font-weight: 500;
   font-size: 16px;
   line-height: 1.188;
   text-align: center;
   letter-spacing: 0.03em;
   color: $second-text-color;
}

.card__text {
   margin-bottom: 16px;

   font-size: 16px;
   line-height: 1.188;
   text-align: center;
   letter-spacing: 0.03em;
   color: $primary-text-color;
}

.card-links {
   display: flex;
   justify-content: center;
}

.card-links__item {
   &:not(:last-child) {
      margin-right: 10px;
   }
}

.card-links__link {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 44px;
   height: 44px;
   border-radius: 50%;

   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

   &:hover,
   &:focus {
      background-color: $accent-color;
   }
}

.card-links__icon {
   fill: #afb1b8;

   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

   .card-links__link:hover &,
   .card-links__link:focus & {
      fill: #ffffff;
   }
}
