.soft-skills {
   padding: 60px 0;
}

.soft-skills__item {
   &:not(:last-child) {
      margin-bottom: 30px;
   }
}

.soft-skills__wrap {
   max-width: 100%;
   margin-bottom: 30px;
   padding: 25px;
   background: $second-background-color;
   border-radius: 4px;
}

.soft-skills__icon {
   display: block;
   margin: 0 auto;
}

.soft-skills__title {
   margin-bottom: 10px;

   font-size: 14px;
   line-height: 1.143;
   text-align: center;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: $second-text-color;
}

.soft-skills__text {
   font-size: 14px;
   line-height: 1.71;
   letter-spacing: 0.03em;
   color: $primary-text-color;
}
